# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dd2kcpetc
CLOUDINARY_API_KEY=758297935941252
CLOUDINARY_API_SECRET=o-8jD_-3MuU2Ltq3JmQMRt56hd0

# Supabase (Optional for images table)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
